<%= form_for([@event, @invite]) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  </br>
  <div class="field">
    <%= radio_button_tag "rsvp", @invite.id, @invite.rsvp=="yes" %>
    <%= f.label "Yes" %>
  </div>
  <div class="field">
    <%= radio_button_tag "rsvp", @invite.id, @invite.rsvp=="no" %>
    <%= f.label "No" %>
  </div>
  <div class="field">
    <%= radio_button_tag "rsvp", @invite.id, @invite.rsvp=="waiting" %>
    <%= f.label "Waiting for response..." %>
  </div>


  </br>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
