<%= form_for([@event, @invite]) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rsvp %><br>
    <%= f.text_field :rsvp %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
