<h1>Listing invites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rsvp</th>
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    
    <% @invites.each do |invite| %>
    <tr>
        <td><%= invite.name %></td>
        <td><%= invite.rsvp %></td>
        <td><%= invite.event_id %></td>
        <td><%= link_to 'Show', event_invite_path(invite.event, invite) %></td>
        <td><%= link_to 'Edit', edit_event_invite_path(invite.event, invite) %></td>
        <td><%= link_to 'Destroy', event_invite_path(invite.event, invite), method: :delete, data: { confirm: 'Are you sure?' } %></td>    
    </tr>
    <% end %>
    
  </tbody>
</table>

<%= link_to 'Back', events_path %>
<%= link_to 'New Invite', new_event_invite_path %>

<br>

<%#= link_to 'New Invite', new_invite_path %>
