<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invite.name %>
</p>
</br>
<p>
  <strong>Rsvp:</strong>
  <%= @invite.rsvp %>
</p>
</br>
<p>
  <strong>Event:</strong>
  <%= @invite.event.name %>
</p>
</br>
<%= link_to 'Edit', edit_this_invite_path %> |
<%= link_to 'Back', event_invites_path %>
