<%= form_for(@event) do |f| %>

  <div class="field">
    <strong><%= f.label :name %>:</strong>
    <%= f.text_field :name %>

    <strong><%= f.label :date %>:</strong>
    <%= f.text_field :date %>

    <%= f.submit %>

  </div>

<% end %>
