<%= form_for(@event) do |f| %>

  <div class="field">
    <strong><%= f.label :name %>:</strong><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <strong><%= f.label :date %>:</strong><br>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
