<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
</br>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
</br>
<p>
  <ul>
  <strong>RSVPs:</strong>
  <% @invites = @event.invites.each do |invite| %>
  <li><%= invite.name %> : <%= invite.rsvp %></li>
  <% end %>
  </ul>
</p>
</br>
<%= link_to 'Edit Event', edit_event_path(@event) %> |
<%= link_to 'Send More Invites', new_event_invite_path(@event) %> |
<%= link_to 'Back', events_path %>
